@media (min-width: 48rem) 
{
    .navigation {
        display: flex;
        justify-content: space-between;
        padding: 0 .5rem;
    }

    .show {
        display: none;
    }
    .navigation.show {
        display: flex;
    }

    #menu::before {
        content: '';
    }

    .hdr {
        width: 35%;
    }
    .brand {
        display: block;
    }
    
    .brand.show {
        display: block;
    }
}