body {
    margin: 0 2rem;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, nav {
    font-family: 'Sour Gummy', sans-serif;
    color: cadetblue;
}

.description {
    font-weight: bold;
}

li {
    list-style: lower-roman;
    color: #393939;
}

